html {
  scroll-behavior: smooth;
}

.left-card{
  position: fixed;          /* stick to viewport */
  top: 300px;                 /* vertical center */
  left: 5px;
  background-color: #f4978e ; 
  padding: 25px;
  color: #fcf4dd;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2); /* soft shadow */
  max-width: 600px;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.left-card:hover {
  transform: translateX(10px); /* Right On Hover */
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}
.left-card h2 {
  margin-bottom: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS';
  font-size: 1.7em;
  color: #fcf4dd;
  text-decoration: double;
}

.left-card p {
  font-size: 1.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 20px;
}

.right-card {
  position: fixed;          /* stick to viewport */
  top: 300px;                 /* vertical center */
  right: 5px;
  background-color:  #f4978e ; 
  padding: 25px;
  color: #fcf4dd;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2); /* soft shadow */
  max-width: 500px;
  text-align: light;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.right-card:hover {
  transform: translateX(-10px); /* left On Hover */
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}


.right-card p {
  font-size: 1.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 20px;
}